/* Prevent scrolling when menu is open */
body.no-scroll {
  overflow: hidden;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

/* Navbar slide effects */
.navbar-slide-up {
  transform: translateY(-100%);
}

.navbar-slide-down,
.navbar-menu-open {
  transform: translateY(0);
}

/* Logo styling */
.navbar-logo img {
  height: 60px; /* Adjust based on your logo size */
  width: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the image scales correctly */
}

/* Toggle button styling */
.navbar-toggle {
  font-size: 28px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

/* Overlay styling */
.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
}

.navbar-overlay.open {
  transform: translateY(0);
}

/* Links container styling */
.navbar-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 30px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar-links.show-links {
  opacity: 1;
  transform: translateY(0);
}

/* Links styling */
.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 5rem;
  opacity: 0;
  transform: translateY(20px);
  transition: color 0.5s ease;
}

.navbar-links.animate-links a {
  animation: slideUp 0.4s ease forwards;
}

.navbar-links a:hover {
  color: orangered;
}

/* Keyframe animation for slide-up effect */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
